@import 'styles/variables';

.root {
  display: flex;
  align-items: center;
}

.image {
  width: 64px;
  height: auto;
}

.content {
  // display: flex;
  flex-flow: column nowrap;
  margin-left: $spacing-base;
}

.name,
.server {
  display: block;
}

.server {
  font-size: .75rem;
}
