@import 'styles/variables';

.characterList {
  display: block;
  margin: $spacing-base 0;
}

.characterEntry {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: $spacing-small;
  padding-bottom: $spacing-small;
  border-bottom: 1px solid black;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.characterField {
  margin-right: $spacing-base;

  &:last-child {
    margin-right: 0;
  }
}
