@import 'styles/variables';

.root {
  display: inline-block;
  padding: $spacing-base;
  background-color: #3372cf;
  color: #ffffff;
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}
