@import './_sizes';

$black:             #000;
$shadow:            #2b2b2b;
$slate:             #959595;
$keyline:           #ebebeb;
$white:             #fff;

$brandPrimary:      #caa6e9 !default;

