@import 'styles/variables';

.root {
  display: block;
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
  padding: $spacing-base;
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
}

.error {
  background-color: rgba(palevioletred, 0.25);
  border-color: palevioletred;
}

.message {
  background-color: rgba(paleturquoise, 0.25);
  border-color: paleturquoise;
}

.success {
  background-color: rgba(palegreen, 0.25);
  border-color: palegreen;
}

.warning {
  background-color: rgba(palegoldenrod, 0.25);
  border-color: palegoldenrod;
}
