@import 'styles/_styles';

.root {
  display: flex;
  align-items: center;
  padding: $spacing-base $spacing-base;
  font-family: $typeSans;
  // border-bottom: 1px solid #e4e4e4;

  // &:first-of-type {
  //   border-top: 1px solid #e4e4e4;
  // }

  &:hover,
  &:focus-within {
    background-color: #d6dbe6;
  }

}

.row {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 4px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.number {
  flex: 1 0 4rem;
  margin-top: 2px;
  margin-right: $spacing-base;
  font-family: $typeMono;
  font-size: .75rem;
  text-align: right;

  .obtained & {
    opacity: .4;
  }
}

.name {
  flex: 1 1 auto;
  width: 26rem;
  margin-right: $spacing-base;
  font-weight: 600;
  font-family: $typeHeading;

  .row & {
    font-size: 1rem;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .obtained & {
    opacity: .4;
  }
}

.desc {
  flex: 0 2 100%;
  font-family: 'IBM Plex Sans', sans-serif;

  .row & {
    font-size: .75rem;
    line-height: 14px;
  }

  .obtained & {
    opacity: .4;
  }
}

.tags {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  width: 24rem;
}

.tag {
  padding: 4px 8px;
  background-color: $brandPrimary;
  color: $white;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 4px;

  & + & {
    margin-left: 4px;
  }

  &.achievement     { background-color: $color-achievement; color: setTextColor($color-achievement); }
  &.crafted         { background-color: $color-crafted; color: setTextColor($color-crafted); }
  &.dungeon         { background-color: $color-dungeon; color: setTextColor($color-dungeon); }
  &.fate            { background-color: $color-fate; color: setTextColor($color-fate); }
  &.hunt            { background-color: $color-hunt; color: setTextColor($color-hunt); }
  &.premium         { background-color: $color-premium; color: setTextColor($color-premium); }
  &.purchase        { background-color: $color-purchase; color: setTextColor($color-purchase); }
  &.quest           { background-color: $color-quest; color: setTextColor($color-quest); }
  &.raid            { background-color: $color-raid; color: setTextColor($color-raid); }
  &.seasonal        { background-color: $color-seasonal; color: setTextColor($color-seasonal); }
  &.treasurehunt    { background-color: $color-treasurehunt; color: setTextColor($color-treasurehunt); }
  &.trial           { background-color: $color-trial; color: setTextColor($color-trial); }
}


