@import 'styles/variables';

.root {
  padding: 0 $spacing-large;
  background-color: #4a4b53;
}

.nav {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}


.logo {
  margin-right: $spacing-large;
  padding: $spacing-small 0;
}

.logoLink {
  color: #ffffff;
  cursor: pointer;
}

.avatar {
  position: relative;
  margin-left: auto;
  padding-right: 16px;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    display: block;
    height: 0;
    width: 0;
    margin: auto;
    border-top: 5px solid #ccc;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: '';
  }

  &:hover::after {
    border-top-color: white;
  }
}

.link {
  display: block;
  height: 100%;
  padding: $spacing-base $spacing-base;
  color: #d4d4d4;
  font-weight: 600;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  transition: color .2s ease-out;

  &:hover {
    color: #fff;
  }

  &:focus {
    outline: 0;
  }
}

.selected {
  border-bottom-color: #3372cf;
}
